{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "@electron-toolkit/eslint-config-ts/recommended",
    "@electron-toolkit/eslint-config-prettier",
    "react-app", 
    "react-app/jest"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off"
  }
}
